:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.ViewProblem{
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  min-width: 320px;
  min-height: 150vh;
}


.Problem{
  position: relative;
  background-color: black;
  
  border-radius: 10px;
  flex-direction: row;
  width: 500px;
  height: 600px;
  color:#32cd32;
  
}
.uploadOutputBtn {
  cursor: pointer;
  border: #32cd32 solid 1px;
  border-radius: 5px;
  
  margin-bottom: 0px;
  padding: 10px;
  
  display: inline-block;
}

.downloadInputBtn {
  cursor: pointer;
  border: #32cd32 solid 1px;
  border-radius: 5px;
  width: 35%;
  height: 8%;
  padding: 10px;
  text-decoration: none;
  color: #32cd32;
  margin-right: 10px;
  padding: 10px;
  background-color: transparent;
  font-size: 16px;
  
}

.viewSolutionBtn {
  position: relative;
  cursor: pointer;
  border: #32cd32 solid 1px;
  border-radius: 5px;
  width: 30%;
  height: 8%;
  padding: 10px;
  text-decoration: none;
  color: #32cd32;
  margin-top: 10px;
  right: 150px;
  padding: 10px;
  background-color: transparent;
  font-size: 16px;
}


p {
  padding-left: 10px;
  padding-right: 10px;
}

.title{
  
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}
.backArrow{
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.Solution{
  background-color: black;
  width: 800px;
  height: 600px;
  border-radius: 10px;
  color:#32cd32;
  
}

.code{
  text-align: left;
  /* line-height: 12px; */
  font-size: 15px;
  overflow-y: auto;
  overflow-x: auto;
  height: 500px;
  position: relative;
  top: -30px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.showSolution{
  display: block;
  animation: 1s ease-out 0s 1 showSolution;
}
.hideAnimSolution{
  animation: 1s ease-out 0s 1 hideSolution;
  
}

.hiddenSolution{
  display: none;
}

.hideSolution{
  display: none;
}

@keyframes showSolution {
  0% {
      width: 0px;
      height: 600px;
  }
  100% {
      width: 800px;
      height: 600px;
  }
}

@keyframes hideSolution {
  0% {
      width: 800px;
      height: 600px;
  }
  100% {
      width: 0px;
      height: 600px;
      
  }
}

#sectionSelector{
  font-size: 4rem;
  display: inline;
  line-height: 1;
  margin-top: -125px;
  margin-bottom: 125px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
  left: 40%;
  padding-bottom: -100px;
  
}

.topnav a {
  float: left;
  color: #32cd32;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #90df94;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.example {
  line-height: 15px;
}

.problemInfo {
  position: relative;
  left: 5%;
  overflow-x: visible;
  overflow-y: auto;
  width: 460px;
  height: 400px;
}

.checkmark{
  position: relative;
  left: -20px;
  top: -10px;
  color: #32cd32;
  font-size: 20px;
  float: inline-end;
}