.Problem{
    
    cursor: pointer;
    border: #32cd32 solid 1px;
    border-radius: 5px;
    width: 200px;
    margin-bottom: 10px;
    padding: 10px;
    color: #32cd32;

}

.difficulty{
    float: right;
}

.name{
    font-weight: bold;
}